@import "../../variables";

#root {
  .dashboard-layout {
    min-height: 100vh;
    aside {
      background-color: $bg-grey-dashboard;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
      position: fixed;
      height: 100%;
      .menu {
        line-height: 20px;
        background-color: inherit;
        li {
          cursor: pointer;
          // display: block;
          padding: 25px 20px 20px 27px;
          height: 90px;
          margin: 0;
          width: 100%;
          border-radius: 0px;
          border-bottom: 1px solid #bbb9b9;
          &:first-child {
            border-top: 1px solid #bbb9b9;
          }
          &.ant-menu-item-selected {
            background: #c1e0f1;
            border-bottom: 10px solid #2493fd;
            border-top: none;
          }
        }
        .ant-menu-title-content {
          // width: 130px;
          margin: 0 0 0 12px;
          // display: block;
          text-align: left;
          line-height: normal;
          p {
            margin-bottom: 0;
          }
          span {
            display: block;
            line-height: initial;
            margin: 0;
            font-weight: 600;
            line-height: 23px;
            color: #262626;
          }
        }
      }
      .ant-layout-sider-trigger {
        background-color: $bg-grey-dashboard;
      }
      .ant-layout-sider-children {
        text-align: right;
        .logo-container {
          .anticon {
            display: block;
            text-align: center;
            padding: 10px 10px;
          }
          .ant-image {
            margin: 5px 40px 10px 40px;
          }
        }
      }
      &.ant-layout-sider-collapsed {
        .ant-layout-sider-children {
          .logo-container {
            margin: 0px;
            padding: 0px 10px 0px 10px;
            border-bottom: 1px solid #f5f5f5;
            .ant-image {
              margin: 5px 0 0;
            }
            .anticon {
              text-align: center;
            }
          }
          // .ant-menu {
          //   .ant-menu-item {
          //     height: auto;
          //     padding: 20px 20px 20px 20px;
          //   }
          // }
        }
        .ant-menu-title-content {
          width: auto;
          span {
            display: none;
            opacity: 0;
          }
        }
      }
    }
  }
  .site-layout {
    background-color: $white;
    .ant-layout-header {
      background-color: #343a40;
      padding: 0.5rem 1rem;
      height: auto;
      line-height: 10px;
      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        h3,
        h4 {
          margin-bottom: 0px;
          color: #fff;
        }
      }
    }
    .dashboard-content {
      background-color: #f5f5f5;
      transition: all 0.2s ease 0s, background 0s ease 0s;
      #map,
      #dashboard {
        .title-wrapper {
          display: flex;
          align-items: center;

          h2 {
            font-weight: 600;
            line-height: 52px;
            color: #4d4d4d;
            margin-right: 20px;
          }
          p {
            font-weight: 400;
            line-height: 23px;
            color: #4d4d4d;
            span {
              color: #0093d5;
            }
          }
        }

        .map-wrapper {
          background: rgba(69, 173, 217, 0.15) 0% 0% no-repeat padding-box;
          margin-top: 20px;
          padding-right: 10px;
        }
        .map-container {
          width: 100% !important;
          height: calc(100vh - 130px) !important;
        }

        .loading-wrapper {
          padding: 50px 0 25px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .registration-table {
          width: 100%;
          margin-bottom: 10px;
        }
        .registration-table .registration-row {
          display: flex;
          align-items: center;
          padding: 10px 0px;
        }
        .registration-table .registration-row:not(:last-of-type) {
          border-bottom: 0.25px solid #a5b0c9;
        }
        .registration-row .registration-question {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #181818;
          padding-right: 10px;
        }
        .detail-modal .title-holder {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .detail-modal .title-holder p {
          margin-bottom: 0px;
        }
        .detail-modal .ant-modal-content {
          padding: 0px;
        }
        .detail-modal .ant-modal-body {
          padding: 10px 20px 20px;
        }
        .detail-modal .ant-modal-header {
          border-bottom: 0.25px solid #a5b0c9;
          padding-bottom: 10px;
          padding: 20px 20px;
          margin-bottom: 0px;
        }
        .advance-search-container {
          width: 100%;
          padding: 20px 30px 0px 30px;
          .align-right {
            margin-left: auto;
            display: flex;
            justify-content: flex-end;
          }
          .ant-select-selector {
            height: auto;
            border: 2px solid #d9d9d9;
            .ant-select-selection-placeholder {
              color: #bfbfbf;
            }
          }
          .ant-select-arrow {
            span {
              font-size: 14px;
              color: #bfbfbf;
            }
          }
          button {
            width: 100%;
            height: auto;
            border: 2px solid #343a40;
            font-size: 1em;
            font-weight: 700;
            transition: all 0.19s ease-out !important;
            span {
              font-weight: 600;
              line-height: 16px;
              color: #343a40;
            }
            &.selected {
              background-color: #343a40;
              span {
                color: $white;
              }
            }
          }
          .bottom-filter-container {
            .ant-space {
              .ant-space-item {
                width: 200px;
              }
            }
          }
        }
        .ant-tag {
          margin-top: 20px;
        }
        .advance-search-container .ant-collapse-header {
          padding: 0 !important;
        }
        .advance-search-container .ant-checkbox-wrapper {
          display: block;
          margin-left: 0;
        }
        .advance-search-container .ant-checkbox-inner {
          display: inline-block;
        }
        .search-question-option-wrapper {
          .input-group {
            display: flex;
            .ant-form-item {
              margin-right: 10px;
            }
          }
        }
        .row-wrapper {
          margin-bottom: 20px;
          .ant-card-body {
            padding: 0;
            .chart-header {
              border-bottom: 1px solid #f0f0f0;
              padding: 8px 12px;
              h3 {
                margin-bottom: 0px;
              }
            }
          }
        }
        .bar-chart-wrapper {
          background: rgba(69, 173, 217, 0.059) 0 0 no-repeat padding-box;
          border: 1px solid #fff;
          .header-container {
            background: #00989f;
            padding: 20px 0px;
            h3 {
              color: #fff !important;
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 0;
            }
          }
          .chart-wrapper {
            padding: 20px;
            .ant-select {
              width: 100%;
              margin-bottom: 10px;
              .ant-select-selection-placeholder {
                text-align: left;
              }
              .ant-select-selection-item {
                text-align: left;
              }
            }
          }
        }
        .ant-breadcrumb {
          li {
            span {
              color: rgba(0, 0, 0, 0.25);
              a {
                color: rgba(0, 0, 0, 0.25);
                &:hover {
                  background-color: transparent;
                }
              }
            }
            &:last-child {
              span {
                color: rgba(0, 0, 0, 0.88);
              }
            }
          }
        }
        .ant-table-wrapper {
          .ant-table-thead {
            tr {
              th,
              td {
                background: #fff !important;
                border-color: #fafafa;
                border-bottom: 3px solid #0288d1;
                color: #0288d1;
                font-weight: 700;
                padding: 10px;
              }
            }
          }
        }
        .ant-table-container {
          .ant-tabs {
            .ant-tabs-nav-wrap {
              width: 80vw;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .ant-tabs-tabpane {
              max-height: 50vh;
              overflow: auto;
            }
          }
        }
        .answer-table {
          .ant-table-title {
            border-bottom: 3px solid #0288d1;
            color: #0288d1;
            font-weight: 700;
          }
          .ant-table-thead {
            display: none;
          }
        }
      }
    }
  }
  li.ant-pagination-total-text {
    flex: 1 !important;
    font-size: 15px;
  }
}
