#map-view {
  .map-container {
    position: relative;
    .indicator-dropdown-container {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      padding: 5px;
      font-size: 12px;
      font-family: inherit;
      width: 400px;
      background: #fff;
      z-index: 1000;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
      border-radius: 5px;
      .ant-select {
        width: 100%;
      }
      .options-container {
        padding: 20px 0px 0px;
        &.number {
          padding: 0;
        }
        .ant-space {
          width: 100%;
          .ant-space-item {
            display: inline-flex;
            gap: 0px;
            flex-direction: column;
            button {
              width: 100%;
              text-align: left;
              height: auto;
              border-radius: 0px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .anticon {
                padding-right: 10px;
              }
              .anticon-info-circle {
                padding-right: 0;
                color: #fff;
              }
              &.indicator-dropdown-button {
                div {
                  white-space: break-spaces;
                }
              }
              &.selected {
                span {
                  color: #fff;
                }
              }
              .anticon-check-circle {
                color: #fff;
              }
              span {
                color: #393d3d;
              }
            }
          }
        }
      }
      .option-info-container {
        .ant-alert {
          background-color: #fff;
          border: none;
          padding: 8px 15px;
          margin-top: 20px;
          border-top: 1px solid #e4e4e4;
          border-radius: 0px;
          align-items: flex-start;
          line-height: 20px;
          .anticon-info-circle {
            padding-top: 5px;
          }
        }
      }
    }
    .map-chart-container {
      position: absolute;
      bottom: 0;
      right: initial;
      margin: 10px;
      padding: 5px;
      font-size: 12px;
      font-family: inherit;
      width: 450px;
      background: #fff;
      z-index: 1000;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
      border-radius: 5px;
      .ant-card-body {
        padding: 0px;
        h5 {
          padding-top: 10px;
          text-align: center;
          font-weight: 700;
        }
      }
    }
    .leaflet-container {
      .custom-marker {
        span {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          display: block;
        }
      }
    }
    .custom-marker-cluster {
      border-radius: 50%;
      color: #000000;
      height: 33px;
      text-align: center;
      width: 33px;
    }
  }
  .map-loading {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.15);
    .ant-spin {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }
}
.bottom-filter {
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  height: 300px;
  overflow: auto;
  .ant-space-item {
    &:last-child {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .enable-button {
    text-align: center;
    span {
      color: #fff;
    }
  }
  button {
    width: 100%;
    text-align: left;
    height: auto;
    color: #000000;
    &.selected {
      background: #dc3545;
      span {
        color: #fff;
      }
    }
    &:hover {
      background: #007bff !important;
      span {
        color: #fff;
      }
    }
  }
}
.search-popup {
  overflow: auto !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  height: 300px;
  width: 300px;
  .search-popup-wrapper {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    cursor: pointer;
    &:hover {
      background-color: #3490dc;
      h3 {
        color: #fff;
      }
    }
    h3 {
      font-size: 12px;
      width: auto;
    }
    p {
      color: #fff;
      background-color: #3490dc;
      display: inline-block;
      margin-bottom: 0px;
      padding: 2px 5px;
    }
  }
}
.leaflet-popup-content-wrapper {
  border-radius: 8px !important;
  .leaflet-popup-content {
    margin: 0 !important;
    padding: 20px 15px !important;
    line-height: 1.5 !important;
  }
}
.school-detail-modal-body {
  margin-top: 20px;
  .loading-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .anticon {
    padding: 0;
    margin: 0 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-tabs-tabpane {
    overflow-y: auto !important;
    // height: calc(100vh - 500px);
    padding: 10px 20px;
  }
  .school-description {
    .ant-descriptions-header {
      margin-bottom: 0px;
    }
    .ant-divider {
      margin: 10px 0;
    }
  }
}

// react resizable icon style
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
